<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="manifest" href="manifest.json">
    <!--<link rel="stylesheet" href="styles.css">-->
    {{ styles }}
  </head>
  <body>
    {{ content }}
    {{ modules }}
    {{ scripts }}
  </body>
</html>

<!--<body>-->
  <!--<script type="text/javascript" src="service-worker.js"></script>-->
  <!--<script type="text/javascript" src="randomness.js"></script>-->
  <!--<script type="text/javascript" src="main.js"></script>-->
<!--</body>-->

