<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {{ styles }}
  </head>
  <body>
    {{ content }}
    {{ modules }}
    {{ scripts }}
  </body>
</html>

<!--<!doctype html>-->
<!--<head>-->
  <!--<link rel="manifest" href="manifest.json">-->
  <!--<link rel="stylesheet" href="styles.css"/>-->
<!--</head>-->
<!--<body>-->
  <!--<script type="text/javascript" src="service-worker.js"></script>-->
  <!--<script type="text/javascript" src="randomness.js"></script>-->
  <!--<script type="text/javascript" src="main.js"></script>-->
<!--</body>-->

